.cell {
    width: 20px;
    height: 20px;
    float: left;
    border: 1px solid #888888;
}

.cell:hover {
    background-color: gray;
}

.alive {
    background-color: red;
}

.dead {
    background-color: white;
}

.line {
    display: table;
}